/.DS_Store
/.Rhistory
/.ipynb_checkpoints
/.vscode
/2904.csv
/30677c.csv
/9687c.csv
/Blog
/CODE_101
/Calculo
/Digraph.gv
/Digraph.gv.pdf
/Doing_bayesian_data_analysis-master
/EficienciaEnergetica.ipynb
/Fichero_de_datos_tarea_5.sav.sav
/Inferencia_Causal
/JupyterLabTuto.ipynb
/ML_AZ
/MyPlayground.playground
/Part 2 - Convolutional Neural Networks
/Perio_tuits.ipynb
/Proyecto_IPCG
/Proyecto_RKI
/Proyecto_TRI
/Proyecto_perio
/Proyectos_PREDOC2019_PGC_RTI_2018_WEB.pdf
/Rethinking_2
/Teoria_punto.ipynb
/Titanic
/Untitled.ipynb
/all-exposure-checks1.json
/all-exposure-checks2.json
/all-exposure-checks3.json
/all-exposure-checks4.json
/asemble.ipynb
/listadoCentros 2.xlsx
/listadoCentros2.csv
/municipios_export_20200828_091445.csv.xls
/pandastuto.py
/resources-master
/scipy-2017-tutorial-pandas-master
/scipy2018-jupyterlab-tutorial-master
/untitled0.py